<!-- <div class="wrapper wrapper_padding clearfix">

  <div class="col-2 homepage_content">
    <h2>About</h2>
    <p>I am an architec/dev &amp; dev living in London </p>
  </div>

   <div class="col-2 homepage_content">
    <h2>Tests</h2>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>




 <!--  <div class="col-3 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div> -->

</div>



<div class="container">
  <div class="grid">
    <div class="cell">
      <div class="responsive-image">
      <%= image_tag 'view1.jpg' %>
      </div>
    </div>
    <div class="cell">
        <%= image_tag 'view1.jpg'%>
    </div>
    <div class="cell">
      <div class="responsive-image">
      <%= image_tag 'view1.jpg' %>
      </div>
    </div>
    <div class="cell">
      <div class="responsive-image">
      <%= image_tag 'view1.jpg' %>
      </div>
    </div>
    <div class="cell">
      <div class="responsive-image">
      <%= image_tag 'view1.jpg' %>
      </div>
    </div>
    <div class="cell">
      <div class="responsive-image">
      <%= image_tag 'view1.jpg' %>
      </div>
    </div>
  </div>
</div>
